body {
    margin: 0em;
  }

#imag{
    position: relative;
    margin: 0;
    background-image: url(imagenes/fondo/6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-right: 0em;
    padding-left: 0em;
  }

  #logo h1{
      position: relative;
      font-size: 50px;
      padding-top: -80%;
      text-align: center;
      color: white;
  }

  #logo{
    padding-top: 0.50em;
    padding-bottom: 0em;
  }
  
  #logo img{
    position: relative;
    padding-left: 6em;
    height: 200px;
    width: auto;
    z-index: 10;
  }

  #intro-2 {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin-top: 1em;
    margin-right: 22.5%;
    margin-left: 22.5%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #intro {
    color: white;
    text-align: justify;
    margin-left: 7%;
    margin-right: 7%;
}

  #intro-2 p{
      color: white;
      text-align: justify;
      margin-left: 7%;
      margin-right: 7%;
  }

  #portada {
      padding-top: 7%;
      text-align: center;
  }

  #imag2{
    position: relative;
    margin: 0;
    background-image: url(imagenes/fondo/10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-right: 0em;
    padding-left: 0em;
  }
  
  .caja2{
    display: grid;
    background-color: black;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 6em;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 15px;
    text-align: center;
  }
  .caja2-1{
    background-color: white;
    border-radius: 15px;
    font-size: 20px;
  }
  
  #imag3{
    position: relative;
    margin: 0;
    background-image: url(imagenes/fondo/11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-right: 0em;
    padding-left: 0em;
  }

  #imag4{
    position: relative;
    margin: 0;
    background-image: url(imagenes/fondo/12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-right: 0em;
    padding-left: 0em;
  }

  #imag5{
    position: relative;
    margin: 0;
    background-image: url(imagenes/fondo/13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-right: 0em;
    padding-left: 0em;
  }

  #intro8 h2 {
    background-color: #70c0ce;
    color: white;
    padding: 8px 24px;
    margin-top: 40px;
    margin-right: 30%;
    margin-left: 30%;
    text-align: center;
    border: 7px solid black;

}